[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vimfiles/bundle/vim-gitgutter"]
	path = vimfiles/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/omnisharp-vim"]
	path = vimfiles/bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "vimfiles/bundle/vim-dispatch"]
	path = vimfiles/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vimfiles/bundle/vim-csharp"]
	path = vimfiles/bundle/vim-csharp
	url = git://github.com/OrangeT/vim-csharp.git
[submodule "vimfiles/bundle/neocomplete.vim"]
	path = vimfiles/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vimfiles/bundle/vim-grepper"]
	path = vimfiles/bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
